.titulo-principal{
    color:blue;
    text-align: center;
    font-size:2rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width:20%;
    text-align:center;
    margin: auto;
    border: 10p solid red;

}